.container {
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min_height {
  min-height: 850px;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}
